<div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-11">
            <h1 class="h1">Tambah data contact</h1>
            <form action="/contact" method="post">
                <label for="">Nama</label><br>
                <input type="text" class="w-50" name="nama"><br>
                <label for="" class="w-50">Email : </label><br>
                <input type="text" name="email" class="w-50"><br>
                <label for="">No HP :</label><br>
                <input type="text" class="w-50" name="noHp"><br>
                <button type="submit" class="btn btn-dark mt-2">Kirim</button>
            </form>
        </div>
    </div>
</div>
<script>

</script>