<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data karyawan</h1>
    <ul>
        <li>nama : Dian</li>
        <li>Alamat : cikurutug</li>
    </ul>
    <ul>
        <li>nama : Hasan Bokep</li>
        <li>alamat : Cikombo</li>
    </ul>
    <ul>
        <li>nama : Abdul Juki</li>
        <li>alamat : cileueur</li>
    </ul>
    <a href="/">Kembali ke home</a>
    
</body>
</html>