<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/messi.jpg" alt="">
            <h1>Lionel Messi</h1>
            <p>PesepakBola Handal</p>
        </div>
    </div>
</div>